.ck-main {
  --text-color: white;
  --bg-color: #292c35;
  --secondary-bg-color: black;
  --active-text-color: #316cb3;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ck-main code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.ck-main {
  min-height: 400px;
  min-width: 500px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 50px 1fr 20px;
  grid-template-columns: 200px 1fr 300px;
  border: solid var(--border-color) 1px;
}

.ck-hide-user-list {
  border: solid var(--border-color) 1px;
  grid-template-columns: 62px 1fr 300px;
}

.ck-hide-chat {
  grid-template-columns: 200px 1fr 0px;
}

.ck-hide-both {
  grid-template-columns: 62px 1fr 0px;
}

/* .ck-hide-user-list.ck-editor {
  border-left: none;
} */

.ck-toolbar {
  grid-row: 1;
  grid-column: 1/4;
  padding: 7px;
  border-bottom: solid var(--border-color) 1px;
  display: flex;
  justify-content: space-between;
}

/* .ck-menus {
  grid-row: 2;
  grid-column: 1;
  border-right: solid var(--border-color) 1px;
} */

/* directory : second left sidebar*/

.ck-directory {
  grid-row: 2;
  grid-column: 1;
}

/* editor : text editor */

.ck-editor {
  grid-row: 2;
  grid-column: 2;
  border-left: solid var(--border-color) 1px;
}

.ck-chat-box {
  grid-row: 2;
  grid-column: 3;
  border-left: solid var(--border-color) 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.ck-abc {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

/* footer */

.ck-footer {
  grid-row: 3;
  border-top: solid var(--border-color) 1px;
  grid-column: 1/4;
}

.ck-add-user {
  grid-row: 2;
  grid-column: 2;
  border-left: solid var(--border-color) 1px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 300px;
}

.ck-add-user .ck-user-container {
  display: flex;
  justify-content: center;
  color: white;
}

.ck-user-box {
  width: 300px;
  text-align: right;
}
/* 
.ck-user-box button {
  padding: 5px 20px;
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--active-text-color);
  border: none;
  height: 47px;
  cursor: pointer;
  font-size: 17px;
  border-radius: 10px;
}

.ck-user-box input {
  color: black;
  padding: 5px 22px;
  padding-right: 0px;
  height: 30px;
  border-radius: 10px;
  font-size: 17px;
  border: solid 1px;
  border-right: 0px;
  width: 180px;
  border: none;
  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .2);
  background-color: white;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
} */

.ck-user-box input:focus {
  outline: none;
  max-width: width calc(100% - 75px);
  box-shadow: 5px 5px 20px 10px rgba(8, 97, 170, 0.2);
}

.ck-logo h1 {
  padding: 0px;
  margin: 0px;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 0 10px;
}

.ck-toolbar select {
  height: 34px;
  background-color: white;
  color: black;
  border-radius: 10px;
  padding-left: 10px;
  font-size: 14px;
  border: none;
  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .2);
}

.firepad {
  width: 100%;
  height: 100%;
  display: flex;
}

#aceEditor {
  margin-left: 10px;
  font-size: 14px;
  display: flex;
  width: 100%;
  height: 100%;
  line-height: 1ck-3;
  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .2);
}

.ck-user-group {
  border-radius: 0px;
  margin: 0;
  padding: 0;
}

.ck-user-list {
  box-shadow: 5px 5px 10px 0 rgba(97, 149, 192, 0.2);
  color: black !important;
  padding: 5px 10px;
  display: flex;
  /* justify-content: space-between; */
}

.ck-user-circle {
  width: 30px;
  height: 30px;
  border-radius: 30%;
  border: none;
  color: var(--active-text-color);
  font-size: 17px;
  line-height: 1.6;
  font-weight: bold;
  text-align: center;
}

.ck-floating-btn {
  position: absolute;
  top: 125px;
  right: 20px;
  z-index: 5;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid;
  color: #316cb3;
  font-size: 33px;
  line-height: 0.55;
  border-color: white;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.ck-dot {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.ck-online-user {
  background-color: rgb(9, 250, 9);
}

.ck-offline-user {
  background-color: rgb(0, 0, 0);
}

.ck-username {
  font-size: 16px;
  padding-left: 10px;
  line-height: 2;
  padding: 3px;
}

.ck-hide-user-list .ck-username {
  display: none;
}

.ck-hide-both .ck-username {
  display: none;
}

.ck-me {
  background-color: var(--active-text-color);
  color: white;
  padding: 3px;
  border-radius: 10px;
}

.ck-error {
  color: #ff3939;
  padding: 5px 0px;
  height: 25px;
}

.ck-toggle {
  border-bottom: solid var(--border-color) 1px;
  cursor: pointer;
}

.ck-toggle .icon {
  font-size: 30px;
  line-height: 0.6;
}

.ck-talk-bubble {
  overflow-wrap: break-word;
  margin: 10px 0px;
  padding: 7px;
  display: inline-block;
  position: relative;
  width: 70%;
  height: auto;
  font-size: 13px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .2);
}

.ck-right {
  margin-left: 23%;
  background-color: var(--active-text-color);
  color: white;
}

.ck-right .ck-sub {
  color: #cecccc;
}

.ck-msg-right:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  float: right;
  left: auto;
  right: 0px;
  bottom: -20px;
  margin-left: 23%;
  border:none;
}

.ck-msg-left:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 0px;
  right: auto;
  top: auto;
  border: none;
}

.ck-sub {
  color: grey;
  font-size: 10px;
}

.ck-msg-input {
  height: 50px;
  border-top: solid 1px grey;
}

.ck-msg-input textarea {
  margin-top: 5px;
  height: 56px;
  color: black;
  border: 0px;
  width: calc(100% - 52px);
  float: left;
  resize: none;
  background-color: white;
}

.ck-msg-input button {
  margin-top: 4px; 
  height: 47px;
  outline: none;
  border: 0px;
  line-height: 0;
  font-size: 30px;
  width: 45px;
  padding-bottom: 6px;
  padding-left: 13px;
  background-color: #316cb3;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}

/* .ck-chat-head{
    color: white !important;
    height: 48px;
    text-align: center;
    font-size: 24px;
    line-height: 2;
    border-bottom: solid var(--border-color) 1px;;
    background-color: var(--active-text-color);
} */

.ck-head-title {
  font-size: 16px;
  padding-left: 10px;
  line-height: 2;
  padding: 3px;
}

.hide {
  display: none;
}

.hide * {
  display: none !important;
}

.new-icon {
  line-height: 0.2;
  font-size: 34px;
  margin: 0px 6px;
  color: var(--active-text-color);
}

#ck-scrollbar {
  overflow-y: auto;
}

#ck-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px var(--bg-color);
  background-color: var(--bg-color);
}

#ck-scrollbar::-webkit-scrollbar {
  width: 6px;
  background-color: var(--bg-color);
}

#ck-scrollbar::-webkit-scrollbar-thumb {
  background-color: white;
}