.ck-main {
    --text-color: #fff;
    --bg-color: #292c35;
    --secondary-bg-color: #000;
    --border-color: grey;
    --active-text-color: #316cb3;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

ck-main code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace
}

.ck-main {
    background-color: var(--bg-color);
    min-height: 400px;
    min-width: 500px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 50px 1fr 20px;
    grid-template-columns: 200px 1fr 300px
}

.ck-hide-user-list, .ck-main {
    border: 1px solid var(--border-color)
}

.ck-hide-user-list {
    grid-template-columns: 62px 1fr 300px
}

.ck-hide-chat {
    grid-template-columns: 200px 1fr 0
}

.ck-hide-both {
    grid-template-columns: 62px 1fr 0
}

.ck-toolbar {
    grid-row: 1;
    grid-column: 1/4;
    padding: 7px;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between
}

.ck-directory {
    grid-row: 2;
    grid-column: 1
}

.ck-editor {
    grid-column: 2
}

.ck-chat-box, .ck-editor {
    grid-row: 2;
    border-left: 1px solid var(--border-color)
}

.ck-chat-box {
    grid-column: 3;
    justify-content: space-between
}

.ck-abc, .ck-chat-box {
    display: flex;
    flex-direction: column;
    width: 100%
}

.ck-abc {
    height: 100%;
    overflow: auto
}

.ck-footer {
    grid-row: 3;
    border-top: 1px solid var(--border-color);
    grid-column: 1/4
}

.ck-add-user {
    grid-row: 2;
    grid-column: 2;
    border-left: 1px solid var(--border-color);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 300px
}

.ck-add-user .ck-user-container {
    display: flex;
    justify-content: center;
    color: #fff
}

.ck-user-box {
    width: 300px;
    text-align: right
}

.ck-user-box button {
    padding: 5px 20px;
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--active-text-color);
    border: none;
    height: 47px;
    cursor: pointer;
    font-size: 17px;
    border-radius: 4px 35px 35px 4px
}

.ck-user-box input {
    color: #000;
    padding: 5px 0 5px 22px;
    height: 30px;
    border-radius: 35px 0 0 35px;
    font-size: 17px;
    width: 140px;
    border: none;
    box-shadow: 0 0 15px 1px hsla(0, 0%, 100%, .2);
    background-color: #fff;
    -webkit-transition: all .5s;
    transition: all .5s
}

.ck-user-box input:focus {
    outline: none;
    max-width: width calc(100% - 75px);
    width: 180px;
    box-shadow: 0 0 20px 1px hsla(0, 0%, 100%, .5)
}

.ck-logo h2 {
    margin: 0;
    font-size: 2rem;
    color: var(--active-text-color);
    -webkit-transform: scaleY(1.3);
    transform: scaleY(1.3);
    font-weight: 700;
    font-family: monospace;
    text-shadow: 2px 3px #691717;
    padding: 0 10px
}

.ck-toolbar select {
    height: 34px;
    background-color: #fff;
    color: #000;
    border-radius: 4px;
    padding-left: 10px;
    font-size: 14px
}

#aceEditor, .firepad {
    width: 100%;
    height: 100%;
    display: flex
}

#aceEditor {
    font-size: 14px;
    background-color: var(--bg-color);
    line-height: 1ck-3
}

.ck-user-group {
    border-radius: 0;
    margin: 0;
    padding: 0
}

.ck-user-list {
    background-color: var(--bg-color)!important;
    color: #fff!important;
    padding: 5px 10px;
    display: flex
}

.ck-user-circle {
    color: var(--active-text-color);
    font-size: 17px;
    line-height: 1.6
}

.ck-floating-btn, .ck-user-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid;
    border-color: #fff;
    font-weight: 700;
    text-align: center
}

.ck-floating-btn {
    position: absolute;
    top: 56px;
    right: 20px;
    z-index: 5;
    color: #316cb3;
    font-size: 48px;
    line-height: .4;
    cursor: pointer
}

.ck-dot {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%
}

.ck-online-user {
    background-color: green
}

.ck-offline-user {
    background-color: grey
}

.ck-username {
    font-size: 16px;
    line-height: 2;
    padding: 3px
}

.ck-hide-both .ck-username, .ck-hide-user-list .ck-username {
    display: none
}

.ck-me {
    background-color: var(--active-text-color);
    color: #fff;
    padding: 3px;
    border-radius: 10px
}

.ck-error {
    color: #ff3939;
    padding: 5px 0;
    height: 25px
}

.ck-toggle {
    border-bottom: 1px solid var(--border-color);
    cursor: pointer
}

.ck-toggle .icon {
    font-size: 38px;
    line-height: .6
}

.ck-talk-bubble {
    margin: 20px 0;
    padding: 0 10px;
    display: inline-block;
    position: relative;
    width: 70%;
    height: auto;
    font-size: 12px;
    background-color: #fff
}

.ck-right {
    margin-left: 23%;
    background-color: var(--active-text-color);
    color: #fff
}

.ck-right .ck-sub {
    color: #cecccc
}

.ck-msg-right:after {
    float: right;
    left: auto;
    right: 0;
    border-color: currentcolor;
    border-left: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid var(--active-text-color);
    border-top: 12px solid var(--active-text-color);
    margin-left: 23%
}

.ck-msg-left:after, .ck-msg-right:after {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    bottom: -20px
}

.ck-msg-left:after {
    left: 0;
    right: auto;
    top: auto;
    border: 22px solid transparent;
    border-left-color: #fff
}

.ck-sub {
    color: grey
}

.ck-msg-input {
    height: 50px;
    border-top: 1px solid grey
}

.ck-msg-input textarea {
    height: 46px;
    color: #000;
    outline: none;
    border: 0;
    width: calc(100% - 52px);
    float: left;
    resize: none;
    background-color: #fff
}

.ck-msg-input button {
    height: 50px;
    outline: none;
    border: 0;
    line-height: 0;
    font-size: 36px;
    width: 48px;
    padding-bottom: 6px;
    padding-left: 13px;
    background-color: #316cb3;
    color: #fff;
    cursor: pointer
}

.ck-head-title {
    font-size: 16px;
    line-height: 2;
    padding: 3px
}

.hide {
    display: none
}

.hide * {
    display: none!important
}

.new-icon {
    line-height: .2;
    font-size: 34px;
    margin: 0 6px;
    color: var(--active-text-color);
    border-bottom: 7px solid var(--active-text-color)
}

#ck-scrollbar {
    overflow-y: auto
}

#ck-scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px var(--bg-color);
    background-color: var(--bg-color)
}

#ck-scrollbar::-webkit-scrollbar {
    width: 6px;
    background-color: var(--bg-color)
}

#ck-scrollbar::-webkit-scrollbar-thumb {
    background-color: #fff
}

body {
    margin: 0;
    padding: 0
}

.powered-by-firepad {
    display: none!important
}

/*# sourceMappingURL=coderkamp.css.map */