body {
  margin: 0;
  padding: 0;
}

#root{
  min-height: 100vh;
}
/* this cause prpblem during typing & scrolling in editor  */
/* * {
  transition: all 0.2s ease-in-out;
} */

.powered-by-firepad {
  display: none !important;
}
.pointer{
  cursor: pointer;
}